--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple/

fastapi[standard]==0.136.1
ruff
mypy
pytest
httpx
pytest-cov
bandit
pip-audit
sqlalchemy
psycopg[binary]

numpy
scipy
scikit-learn
torch
transformers
librosa
soundfile
umap-learn
pandas
pandas-stubs
